<%= simple_form_for(@uniform_piece_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :piece_type %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit , "Salvar", class: 'btn btn-default' %>
  </div>
<% end %>
