<p id="notice"><%= notice %></p>

<p>
  <strong>Piece type:</strong>
  <%= @uniform_piece_type.piece_type %>
</p>

<%= link_to 'Edit', edit_uniform_piece_type_path(@uniform_piece_type) %> |
<%= link_to 'Back', uniform_piece_types_path %>
