<div class="row clearfix">
  <div class="col-md-2 column">
    <%= render "admin/menu" %>
  </div>
  <div class="col-md-10 column">
    <%= link_to '<< Voltar', positions_path, class: "btn btn-default" %>
    <hr>
    <h2>Editando cargo</h2>
    <%= render 'form' %>
  </div>
</div>
