<div class="row clearfix">
  <div class="col-md-12 column">
    <%= link_to "Funcionários", users_path, class: "btn btn-default btn-block" %>
    <%= link_to "Filiais", branches_path, class: "btn btn-default btn-block" %>
    <%= link_to "Cargo", positions_path, class: "btn btn-default btn-block" %>
    <%= link_to "Uniforme", uniforms_path, class: "btn btn-default btn-block" %>
  </div>
</div>
